/* import fonts from google-font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Jura&family=Roboto+Mono:wght@100&display=swap');

:root{
    --pama:rgba(138, 135, 135, 0.788);
    --primary_bg:#032f80;
    --text_color: rgb(241, 166, 54);
    --body-text: black;
    --foot-bg:#0d0f2b;
    --background:#f9f9fd;
    --hoover-link:rgb(33, 175, 144);
    --price-txt-colo:rgb(224, 52, 52);
    --shadow-border:  0 0.2px 5px rgba(0, 0, 0, 5);
    --shadow-border-img:  0 0.1px 3px rgba(0, 0, 0, 5);
    --ads-color: rgb(7, 7, 122);
}
/*  Header designs */
body{
    color: var(--body-text);
}

 h1{
    font-family: jura;
    font-size: medium;
    font-weight: 700;
    padding-top: 2%;
    text-align: center;
    position: inherit;
    color: var(--price-txt-colo);
    font-weight: 600;
    letter-spacing: 2.7px;
    text-shadow: 0px 4px 2px #99928e;
}
.mx-auto{
    background-color: rgb(221, 198, 169);
}
.repair-form{
   padding: 20%;
   padding-left: 10%;
}
 h3{
font-family: jura;
font-size: medium;
font-weight: 700;
text-align: left;

}

.container-fluid .row .text-left a #logos{
    width: 70%;
    height: 38px;
}
header{
    color: var(--text_color);
    font-family: jura;
    box-shadow: var(--shadow-border);
    /*position: sticky;
    top: 1px;*/
   
}
header .container{
    width: 100%;
    font-family: jura;
    
}
header .greetings{
    font-size: 14px;
    padding-top: 5%;
   
}
header .row .header-links a{
    color: var(--text_color);
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: #fa7844 1px dotted;
    
}
header .row .header-links{
    float: right;
    height: fit-content;
    padding: 2%;
}
    .header .row .header-links a:hover{
        border-radius: 5px;
        color: blue;
        height: 20px;
        background-color: #f7ddd3b0;
        border: #eea60c 1px dotted;
        }
header h2{
    font-weight: 700;
    font-size: 18px;   
}
.metal-blue{
    height: fit-content;
    background-color:var(--primary_bg) !important;
    border-bottom: 2px grey solid;
}

.container-fluid{
    padding-top: 1%;
    background: var(--background);
   
  
    
}
.container-fluid .row .col-12{
    height: 45px;
    
}
.container-fluid a{
    padding-top: 1%;
    color: var(--body-text);
}
header #lft{
    display: flex;
}
header .col-md-2 a{
    padding: 1%;
}
header .col-md-2 a img{
    width: 50%;
}
header img{
    height: 80%;
    padding: 2%;
}
header .search-bar{
   width: 100%; 
   border: #000000 solid 1px;
   padding: 0.25%;
   border-radius: 4px;
   height: 45px;
   float: right;
  
}
.search-bar input{
    width: 100%;
    float: left;
    border: 0%;
}

#nav{
    display: flex;
    
}
#nav a{
    
    padding-left: 6px;
    font-weight: 600;
    text-decoration: round;
    padding: 5px;
    
}
#nav a:hover{
    background-color: #ff523b;
    border-bottom: #0d0f2b 1px solid;
    color: #ffffff;

 }
.menu-logo{
    width: 40px;
    display: none;
}
.carousel-inner .one{
    background: url(../assets/slider-img/4.png) no-repeat;
    background-size: cover;
    background-origin: content-box;
    
}
.carousel-inner .two{
    background: url(../assets/slider-img/3.jpg) no-repeat;
    background-size: cover;
    background-origin: content-box;
    
}
.carousel-inner .three{
    background: url(../assets/slider-img/doors.jpg) no-repeat;
    background-size: cover;
    background-origin: content-box;
    
}
/* Media Querry for menu smaller-screen sizes*/
@media only screen and (max-width :800px){
    #nav{
        display: block;
        position: absolute;
        top:70px;
        left: 0; 
        height: 200px;
        width: 100%;
        background: rgba(245, 147, 67, 0.781);
        overflow: hidden;/*/this will hide the URL when clickec***/
        transition: max-width 0.5s;
       
    }
    #nav a{
       display: block;
       margin-right: 20px;
       margin-bottom: 5px;
       margin-top: 4px;
       padding: 0%;
       border-bottom: #0d0f2b 1px solid;
       color: var(--body-text);

    }
    #nav a:hover{
        background-color: #df4415;
        color: #f9f9fd;
 
     }
    .menu-logo{
        display: block;
        cursor: pointer;
        width: 50px;
    }
    .hipers .cox .big{
        width: 60%;
    }
    .hipers .cox .offer{
        width: 40%;
        height: 30%;
     }
     .container-fluid .row .text-left a #logos{
        width: 20%;
        height: 38px;
    } 
    main ul{
        display: block;
        text-align: center;
    }
    main ul li{
        width: 15%;
        padding: 0%;
        padding-right: 1px;
    }
    main ul li button{
        font-size: 9px;
        text-align: left;
        padding: 0.5%;
    }
    main .category-container{
        position: fixed;
        border-bottom: black 1px dotted;
    }
}
/*   --- Media querry for all contents on a smaller devcie < 600px -----*/
@media only screen and (max-width :600px){
    .row{
     text-align: center;
    }
    .products-control-slide .col-md-2, .col-md-3, .col-md-4 {
        flex-basis: 100%;
    }
    .district{
        display: block;
        padding: 2px;
        font-size: 12px;
    }
    .foot2 .my-md-3 h2{
     font-size: 1px;
     color: rgb(224, 222, 220);
    }
      
}

/*  /////Header designs */
/* -----Main content designs---*/
/*=======Category Content=======*/
main{
padding: 1%;
}
main .category-container{
    font-family: jura;
    top: 1px;
    background: rgba(4, 167, 207, 0.952);
    border-bottom: black 1px solid;
}
main ul{
    display: flex;
}
main ul li{
    padding-top: 1%;
    list-style: none;
    justify-content: space-between;
    padding-right: 10px;
}
main ul li button:hover{
    background-color: #ec5a20;
    color: #ffffff;
}



/*=======Ads Content=======*/
main .ads-content{
    box-shadow: var(--shadow-border);
    border-radius: 6px;
    padding: 2%;
    width: 100%;
}
main .ads-content h2{
    text-align: center;
    font-size: 14px;
    color: var(--ads-color);  
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 30px;
}
main .ads-content h2::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
.img {
    width:80px;

}

.text-right.cart{
    width: 70%;
}
 .cart_icon{
        width:60px;
    }


/** product sliders*/

.site-slider-two{
    text-align: center;
}
.site-slider-two .text-center{
    display: flex;
    transition: transform 0.5s;
    cursor: pointer;
  
}

.products-control-slide{
    box-shadow: var(--shadow-border-img);
    font-family: jura;
    padding: 1%;
    border-radius: 6px;
    width: 100%;
}
/* Product title */
.site-slider-two h2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.site-slider-two h2::after{
content: '';
background: #ff523b;
width: 100px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.product p{
color: var(--price-txt-colo);
}
.site-slider-two .product{
    width: 25%;   
    font-family: jura;
    text-align: left;
    padding: 1%;
    justify-content: space-between;
    margin-left: 6px;
    border-radius: 6px;
     
   
}
.site-slider-two .text-center :hover{
    transform: translateY(-5px);
    width: 30%;
    background-color: rgb(252, 238, 218);
        
}

.site-slider-two .product img{
width: 98%;
margin: 0 auto;

}

/* ////// Main content designs*/




/* Footer designs   */
.metal-blue .foot1{
color: var(--text_color);
text-align: center;
}
.metal-blue .foot1 .text-center{
    display: flex;
    width: 30%;
    text-align: center;
    justify-content: space-between;
    }
    .foot1 .site-title{
        padding-right: 1%;
    }
.metal-blue .foot1 .text-center img{
width: 30px;
padding-top: 10px;
height: 35px;
 }
 .foot1 .text-right a{
color: var(--text_color);
text-decoration: none;
font-size: 14px;
 }
 .foot1 .text-right a img{
    height: 50px;
 }
 .foot1 .row{
     padding: 2%;
     padding-bottom: 0;
     display: flex;
     height: 60px;
     justify-content: space-between;
 }
 .foot1 .classic-rule{
     height: 2px;
     width: 90%;
     opacity: 70%;
     border: none;
     background: var(--pama);
 }
.ponk{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.ponk a{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding-left: 30px;
    color: chocolate;
    text-decoration: none;
}
 /* Mobile responsive..  **/
@media (max-width: 1140px){
  .metal-blue {
      width: 100%;
      padding: 0 15px;
  } 
  .metal-blue .foot1 .text-center{
      display: block;
      text-align: left;
  }
  .text-right-extreme .district{
text-align: center;
float: inherit;
  }
  .row{
      text-align: left;
  }
}
.menu-link .row .text-left a img{
    border: 1px solid rgb(175, 105, 14);
    border-radius: 10px;
    padding: 1%;
    width: 200px;
    background-color: rgba(231, 161, 128, 0.644);  
}
.container .row .text-left a img{
border: 1px solid wheat;
border-radius: 10px;
padding: 1%;
background-color: rgba(167, 164, 163, 0.63);

}
/* foot part two*/
.foot2{
background: var(--foot-bg);
height: fit-content;
font-family: serif;
font-size: 14px;
color: var(--text_color);
}
.foot2 .row{
    display: flex;
    padding: 1%;
    font-family: jura;
    }
.foot2 .row .col-md-3{
    padding: 1%;
    width: 25%;
    }
.foot2 .text-left input{
background-color: rgba(255, 228, 196, 0.205);
border: bisque 1px solid;
color: #ffffff;
border-radius: 6px;
padding: 1%;
width:60%;
 }
 .site-title{
     font-size: 16px;
     color: aliceblue;
 }
 .foot2 .row .about .site-title{
    text-align: left;
 }
 .foot2 .row .about p{
text-align: left;
 }
 .foot2 .text-left button{
    background-color: rgba(241, 151, 41, 0.637);
    border: rgba(236, 238, 243, 0.986) 1px solid;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding: 1%;
    color: bisque;
     }
     .foot2 .text-left button:hover{
        background-color: rgba(226, 89, 10, 0.918);
        border: rgba(11, 53, 161, 0.986) 1px solid;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
         }

.foot2 .text-left img{
width: 100px;
height: 40px;
transition: transform 0.5s;
filter: sepia(100%);
border-radius: 30%;
}
.foot2 .text-left img:hover{
    width: 110px;
    height: 0 auto;
    transform: translateZ(-5px);
    filter: sepia(0);
    border: solid rgb(235, 158, 16) 1px;
    border-radius: 20%;
    }
.foot2{
    color: var(--text_color);

  }
  .foot2 .col-md-3 a{
    text-decoration: none;
    color: var(--text_color);
  }  
  .foot2 .row .col-md-3 .district{
   display: flex;
   width: 150px;
   width: fit-content;
    }
    .district .one{
        text-align: left;
        padding-right: 10%;
         }
     .district .two{
        text-align: left;
        padding-left: 20%;
         }
.copy-right{
    font-weight: 50;
    padding-bottom: 2%;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
    color: var(--background);
}
.classic-rule2{
    height: 2px;
    width: 90%;
    opacity: 90%;
    border: none;
    background: var(--pama);
}

/* Login and signup modal design*/
.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*scale(0);*/
    border: solid 1px black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--background);
    width: 500px;
    max-width: 70%;
    transition: 200ms ease-in-out;
}
.modal.active{
    
    transform: translate(-50%, -50%) scale(1);}
.modal .header{
    display: flex;
    background-color: rgba(173, 171, 167, 0.637);
    justify-content: space-between;
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid black;
}
.modal .header .close-btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: serif;
    font-weight: 700;
}
.modal .header .close-btn:hover{
    background: red;
    color: rgb(224, 222, 220);
    height: fit-content;
    
}
.header h2{
    font-size: 1.25rem;
    font-family: jura;
}
.modal .modal-body{
    padding: 10px 15px;
    text-align: left;
}
.modal .log-form a{
text-decoration: none;
color: brown;
}
#overlay{
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-color: rgba(23, 24, 24, 0.719);
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
/*
.boomer{
    display: flex;
}
*/