body{
    font-family: jura;
}
.text-left a img{
    width: 100px;
}
ul{
    display: flex;
}
ul li {
    padding-left: 2%;
    cursor: pointer;
    list-style: none;
    display: flex;
}
ul li button{
    width: 120px;
    height: 0 auto;
    padding: 1%;
    font-size: small;
}
.btn-reg{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(233, 170, 76);
}
.menu-logo{
width: 35px;
height: 30px;
}
.text-right{
    padding-top: 10px;
}
.signup-form{

}
.content-row{
    font-family: jura;
    text-align: center;
    padding: 2%;
    background: url(../assets/slider-img/00.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
label{
    font-family: jura;
}